# This file is a template, and might need editing before it works on your project.
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Python.gitlab-ci.yml

# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
image: python:3.10

variables:
  HTTP_PROXY: "http://webproxy:8080"
  HTTPS_PROXY: "http://webproxy:8080"

.install-dev-deps: &install-dev-deps
  - python -m piptools sync dev-requirements.txt

before_script:
  - python --version  # For debugging
  - pip install --upgrade pip virtualenv
  - virtualenv venv
  - source venv/bin/activate
  - pip install --upgrade pip pip-tools
  - python -m piptools sync

#test:
#  script:
#    - *install-dev-deps
#    - pip install .
#    - pytest --verbose --cov=gum_compliant_neural_network_uncertainty_propagation
#          --junitxml=junit.xml
#    - coverage xml
#  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
#  artifacts:
#    when: always
#    paths:
#      - junit.xml
#      - coverage.xml
#    reports:
#      junit: junit.xml
#      coverage_report:
#        coverage_format: cobertura
#        path: coverage.xml
#
#mypy:
#  script:
#    - *install-dev-deps
#    - mypy .
#
#pylint:
#  script:
#    - *install-dev-deps
#    - pylint src/gum_compliant_neural_network_uncertainty_propagation
#
#flake8:
#  script:
#    - *install-dev-deps
#    - flake8 .
#
#black:
#  script:
#    - *install-dev-deps
#    - black --check .

deploy:
  stage: deploy
  script:
    - git log --oneline
    - python -c """
      from semantic_release.vcs_helpers import get_commit_log;
      for commit in get_commit_log():;
          print(commit)
      """
    - python -m piptools sync release-requirements.txt
    - semantic-release --verbosity=DEBUG publish
  environment: production
