train/
test/
build/
docs/_build
**/.hypothesis/
**/.coverage/
*.egg-info
.__atomic-write*
coverage.xml
junit.xml
**/*.txt
**/*.jpg
*-checkpoint.ipynb
docs/CHANGELOG.md
docs/INSTALL.md
docs/README.md
docs/examples/*
